MSSQL_CONNECTION_STRING=mssql://username:password@host/dbname
WEBHOOK_URL_TEAMS=url_web_hook
INTERVAL=60 -- in minutes
REDIS_URL=redis://prdredis.sistem.com:6379
MONGO_URL=mongodb://admin:pwd@host:port/dbName
RABBITMQ_URL=amqp://rabbitmq:pwd@queue.sistem.com.br/queue